/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body{
    background-color: #f4f4f4
}
.bg-nav{
    background-color: #0b3d7d;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

